.user-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: 1rem;
}

.profile-picture {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    border-radius: 50%;
    background-color: #000;
}

.user-info>.right-section {
    grid-row-gap: 1rem;
    row-gap: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.right-section p {
    color: #000;
}

.story-response {
    max-width: var(--max-width);
    margin: auto;
}

.story-item {
    width: 25rem;
    /* margin: auto; */
}

.story-media {
    width: 100%;
}

.story-list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 2rem;
    row-gap: 2rem;
    grid-column-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

@media screen and (max-width:520px) {
    .story-item {
        width: 20rem;
    }
}