@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root {
    --soft-light1: #585858;
    --soft-light2: #bbbbbb;
    --max-width: 1200px;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #bababa; 
    color: rgb(4, 3, 3);
    overflow-x: hidden;
}

.main-header {
    background: linear-gradient(90deg, red, blue);
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.web-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    column-gap: 1rem;
}

.myLogo {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    text-align: center;
}

.web-name {
    font-family: 'Satisfy', cursive;
    font-weight: 400;
}

.nav-buttons {
    padding: 1rem;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.75rem;
    font-size: 0.75rem;
    width: 100%;
}

.nav-icons {
    background-color: inherit;
    width: 1.2rem;
    height: 1.2rem;
    object-fit: cover;
    pointer-events: none
}

.nav-name {
    pointer-events: none;
    font-weight: bolder;
    
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* .selection-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0.5rem;
    column-gap: 0.5rem;
    max-width: var(--max-width);
    margin: auto;
} */

.nav-section {
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
    list-style: none;
    padding: 1rem 3rem;
    grid-column-gap: 0.5rem;
    column-gap: 0.25rem;
    /* max-width: var(--max-width); */
    margin: auto;
    border-bottom: 1px solid #b13d3d;
}

.active-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 4px solid #0000ce; */
    background: rgb(187, 187, 187);
    border-radius: 0.5rem;
}

.active-navigation * {
    color: #ffffff;
}

a:-webkit-any-link:active {
    color: none;
}

a {
    text-decoration: none;
}

.error-page {
    width: 100%;
    height: 50vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}

.error-page * {
    color: #dedede;
    font-family: monospace;
    padding: 0.5rem 0;
}
.bio{
    color: rgb(0, 0, 0);
}
::-webkit-scrollbar {
    width: 10px;
    
}





/* Handle */
::-webkit-scrollbar-thumb {
    
    transition: 0.5s linear;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)
    
  }

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(45deg, #af6d26 0%,#a34b2b 25%,#a01c30 50%,#8d1847 75%,#7c105a 100%)
}